/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.sep.2016, 14:03:34
    Author     : Kristian
*/
/*generell css*/
body{
    margin: 0;
    font-family: courier;
    background-color: buttonface;
}


/*headder*/
#logo{
    margin-left: 20%;
    margin-top: 5px;
}

.navigation{
    background-color: black;
    overflow: hidden;
}

.navigation ul{
    padding: 20px;
    margin: 0;
    margin-bottom: 10px;
    width: 80%;

}

.imgRight{
    float: right;
}

.navigation li{
    display: inline;

}

.navigation a{
    padding: 15px;
    background-color: black;
    color: white;
    margin: 0 15px 0 15px;  
    border: 2px solid gray;
    text-decoration: none;
}

.navigation a:hover{
    border: 2px solid white;
}
/*section*/

section{
    
}

section h1{
    
    text-align: center;
}

.bilde{
    width: 180px;
    height: 180px;
    background-color: gray;
    float: left;
    margin: 0 10px 10px 0;    
    
}
.bilde img{
    max-width: 180px;
    height: 180px;
}

.bilde a:hover{
    background-color: white;
}

.grid{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
    
}

#login {
    background-color: grey;
    width: 30%;
    
    margin-left: 35%;
    padding: 2%;
}

.loginform {
    margin-left: 40%;
    margin-top: 1%;
    
}
/*footer*/
footer{
    clear: both;
    background-color: gray;
    
    margin-top: 10px;
    text-align: center; 
    padding: 20PX 0;
    color: white;
    bottom:0;
    position:absolute;
    width: 100%;
    
    
}
