/*
CSS for Index side
*/
/* 
    Created on : 26.sep.2016, 08:25:01
    Author     : Niklas
*/
/*genell CSS*/
body {
    background-color: black;
    height: 100%
}
/*Headder*/
header {
    background-color: red;
    border: white 5px dashed;
    height: 10%;
}

nav {
    background-color: red;
        
}

nav ul {
    
}

nav ul li {
    border: black 10px dotted;
    float: left;
    padding:3px;
    margin-left: 10%;
    margin-bottom: 5%;
}
/*Section*/
section {
    background-color: red;
    border: white 5px dashed;
    height: 500px;
    margin-top: 40px;
}
/*footer*/
footer {
    background-color: red;
    border: white 5px dashed;
    height: 100px;
    margin-top: 10px;
    
}