/*
CSS for Index side
*/
/* 
    Created on : 26.sep.2016, 08:25:01
    Author     : Niklas
*/
/*genell CSS*/
body {
    background-color: #e60000;
    height: 100%
}
/*Headder*/
header {
    background-color: black;
  
    padding-top: 10px;
    padding-bottom: 10px;
}
#logo {
    width: 30%;
    background-color: blue;
        
}
#banner {
    width: 70%;
    margin: 3px;
}

nav {
    background-color: green;
    width: 70%;
        
}

nav ul {
    margin-right: 1%;
    
    
}

nav ul li {
    
    
    display:inline-block;
    padding:3px;
    margin-right: 1%;
    margin-bottom: 5%;
    width: 100px;
    background-color: whitesmoke;
    clear: both;
    
}
/*Section*/
section {
    background-color: black;
    border: white 5px solid;
    
    margin-top: 40px;
    margin-bottom: 3px;
    overflow: hidden;
}

.image {
    height: 100px;
    width: 12%;  
    background-color: whitesmoke;
    margin-left: 25px;
    margin-top: 1%;
    float:left;
    border: 	#737373 2px solid;
    border-radius: 3px;
}
/*footer*/
footer {
    background-color: black;
    border: white 5px solid;
    height: 100px;
    margin-top: 10px;
    float: down;
  
    
}